.container-carousel {
    position: relative;
    top: 55px;
    width: 100%;
    height: 700px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}



.container-carousel h1 {
    position: absolute;
    top: 35%;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    color: #e0e0e0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 65px;
    margin: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1.5); 
}



@media screen and (max-width: 1400px){ 
    .container-carousel{
        height: 525px;
        
    }
    .container-carousel h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 900px) {
    .container-carousel h1 {
        
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    .container-carousel h1 {
        font-size: 40px;
    }
}


.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 8rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #444;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}