.container-servicios {
    max-width: 100%;
    top: 30px;
    position: relative;
    margin: 0 auto;
    
    padding: 10px;
    text-align: center;
  }
  
#service-title {
  max-width: 800px;
    font-size: 30px;
    font-family: serif;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    color:  white;
    font-weight: bold;
    margin-left: 53%;
} 
  
#service-description {
  max-width: 800px;
    font-size: 20px;
    white-space: pre-line;
    color: white;
    font-family: serif;
    padding: 10px;
    margin-top: 0px;
    text-align: justify; 
    margin-left: 53%;
    position: relative;
  }

#service-description2 {
  max-width: 800px;
    white-space: pre-line;
    color: white;
    font-size: 20px;
    font-family: serif;
    text-align: justify;
    padding: 10px;
    margin-left: 53%;
    position: relative;
    margin-top: 0px;
    
}
#service-description3 {
  max-width: 800px;
  position: relative;
  white-space: pre-line;
  color: white;
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  top: 0px;
  padding: 10px;
  margin-left: 4%;
  
}

.caja-des{
  width: auto;
  height: auto;
  background-color: transparent;
  
}  

.caja-des2{
  width: auto;
  height: auto;
  background-color: transparent;
  
}  

.caja-des3{
  width: auto;
  height: auto;
  background-color: transparent;
  
}  


.caja-img{
  max-width: 500px;
  max-height: 800px;
  position: absolute;
  left: 200px;
  top: 100px;
  overflow: hidden;
}

#service-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover; 

} 


.caja-img2{
  max-width: 500px;
  max-height: 700px;
  position: absolute;
  margin-left: 1200px;
  bottom: 0px;
  overflow: hidden;
}

#service-image2 {
  max-width: 100%;
  height: 100%;  
  object-fit: cover; 
}

.caja-img3{
  width: 400px;
  height: 400px;
  position: absolute;
  left: 250px;
  top: 570px;  

}



.caja-img4{
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  left: 200px;
  top: 400px;  

}

#service-image4 {
  max-width: 100%;
  height: 100%;  
  object-fit: cover; 
}


.caja-img6{
  max-width: 750px;
  max-height: 700px;
  position: absolute;
  margin-left: 1030px;
  bottom: -80px;
  overflow: hidden;
}

#service-image6 {
  max-width: 100%;
  height: 100%;  
  object-fit: cover; 
}
.caja-img7{
  max-width: 500px;
  max-height: 600px;
  position: absolute;
  margin-left: 1130px;
  bottom: -80px;
  overflow: hidden;
}

#service-image7 {
  max-width: 100%;
  height: 100%;  
  object-fit: cover; 
}

@media screen and (max-width: 600px) {
  #service-description2{
    margin-left: 20px;  
  } 
  #service-description{
    margin-left: 20px;
    
  }
  #service-title{
    margin-left: 20px;
  }
  .caja-des{
    margin-top: 200px;
  }
  .caja-img{
    position: relative;
    left: 30px;
    width: 400px;
    height: 500px;
  }
  .caja-img2{
    position: relative;
    margin-left: 30px;
    width: 400px;
    height: auto;
    
  }
  .caja-img3{
    position: absolute;
    left: 0px;
    width: 400px;
    height: auto;
    
    
  }
  
  .caja-img6{
    position: absolute;
    margin-left: 30px;
    width: 350px;
    bottom: -150px;
    height: auto;
  }
  .caja-img7{
    position: absolute;
    margin-left: 20px;
    width: 300px;
    bottom: -150px;
    height: auto;
  }

}

@media screen and (max-width: 414px) {
  #service-description2{
    margin-left: 20px;  
  } 
  #service-description{
    margin-left: 20px;
    
  }
  #service-title{
    margin-left: 20px;
  }
  .caja-des{
    margin-top: 200px;
  }
  .caja-img{
    position: relative;
    left: 30px;
    width: 350px;
    height: 500px;
  }
  .caja-img2{
    position: relative;
    margin-left: 30px;
    width: 350px;
    height: auto;
    
  }
  .caja-img3{
    position: absolute;
    left: 0px;
    width: 400px;
    height: auto;
    
    
  }
  
  .caja-img6{
    position: absolute;
    margin-left: 30px;
    width: 350px;
    bottom: -150px;
    height: auto;
  }
  .caja-img7{
    position: absolute;
    margin-left: 20px;
    width: 300px;
    bottom: -150px;
    height: auto;
  }

}


